<a href="https://colab.research.google.com/github/nirmalaraj77/SQL/blob/main/Analyzing_Business_Data_in_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
meals = pd.read_csv("https://assets.datacamp.com/production/repositories/4016/datasets/732c094b30a2e794d0b12b12547587a903126f68/meals.csv")

orders = pd.read_csv("https://assets.datacamp.com/production/repositories/4016/datasets/606e6e9165c25477db078996fa7e0a3e994b93d3/orders.csv")

stock = pd.read_csv("https://assets.datacamp.com/production/repositories/4016/datasets/10d9ad146a85010d836cfc93870aa464951f0640/stock.csv")

In [4]:
print (meals.head(100), orders.head(100), stock.head(100))

     0  'Leaning Tower of Pizza'     4     2
0    1  'Leaning Tower of Pizza'  3.50  1.25
1    2  'Leaning Tower of Pizza'  4.50  1.75
2    3  'Leaning Tower of Pizza'  4.00  0.75
3    4              'Burgatorio'  6.00  3.25
4    5              'Burgatorio'  6.50  4.00
5    6              'Burgatorio'  6.25  2.75
6    7              'Burgatorio'  5.00  1.25
7    8       'Bean Me Up Scotty'  4.50  0.75
8    9       'Bean Me Up Scotty'  4.00  1.25
9   10       'Bean Me Up Scotty'  5.50  1.50
10  11       'Bean Me Up Scotty'  5.75  1.00
11  12            'The Moon Wok'  3.75  1.25
12  13            'The Moon Wok'  4.75  2.25
13  14            'The Moon Wok'  4.50  2.00
14  15            'The Moon Wok'  4.25  1.75
15  16            'The Moon Wok'  3.00  1.00
16  17             'Life of Pie'  3.25  0.50
17  18             'Life of Pie'  3.00  0.25
18  19             'Life of Pie'  3.75  1.25     2018-06-01   0  0.1   4  3
0   2018-06-01   0    0  14  2
1   2018-06-01   0    0  15  1
2   2018-06-01   0    0  17  1
3   2018-06-01   1    1  16  2
4   2018-06-01   1    1  17  1
..         ...  ..  ...  .. ..
95  2018-06-05   3   39  18  3
96  2018-06-05  28   40   7  2
97  2018-06-05  28   40  10  3
98  2018-06-05  28   40  17  1
99  2018-06-05  32   41  18  2

[100 rows x 5 columns]     2018-06-01  0   76
0   2018-06-01  1   42
1   2018-06-01  2   56
2   2018-06-01  3   74
3   2018-06-01  4  100
4   2018-06-01  5   63
..         ... ..  ...
95  2018-11-01  1  712
96  2018-11-01  2  717
97  2018-11-01  3  724
98  2018-11-01  4  704
99  2018-11-01  5  739

[100 rows x 3 columns]

In [7]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%%sql
DROP TABLE IF EXISTS "meals";
CREATE TABLE meals (
  meal_id INT PRIMARY KEY,
  meal_name TEXT
  eatery TEXT,
  meal_price FLOAT,
  meal_cost FLOAT)

 * sqlite://
Done.
Done.

[]

In [11]:
meals_to.sql

NameError: name 'meals_to' is not defined