<a href="https://colab.research.google.com/github/nirmalaraj77/SQL/blob/main/SQL_Notes_DataCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**EXERCISE 1**
##**Count unique titles released 1990 to 1999 (inclusive) in English with rating of 'G', 'PG' or 'PG-13'.**  

<br>

SELECT COUNT (DISTINCT title) AS nineties_english_films_for_teens  
FROM films  
WHERE (release_year BETWEEN 1990 AND 1999)  
AND language = 'English'  
AND (certification IN ('G', 'PG', 'PG-13'));  

<br>


#**EXERCISE 2**
##**Which release_year had the most language diversity?**

<br>
  
SELECT release_year, COUNT (DISTINCT language) AS dist_language  
FROM films  
GROUP BY release_year  
ORDER BY dist_language DESC;  

<br>

#**EXERCISE 3**
##**Find the average budget and gross earnings for films each year after 1990 if the average budget is greater than 60 million.**

<br>

SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross  
FROM films  
WHERE release_year > 1990  
GROUP BY release_year  
HAVING AVG(budget) > 60000000  
ORDER BY avg_gross DESC  
LIMIT 1;    

<br>

#**EXERCISE 4**
##**Determine the average gross domestic product (GDP) per capita by region in 2010.**
SELECT region, AVG(gdp_percapita) AS avg_gdp  
FROM countries AS c  
LEFT JOIN economies AS e  
USING(code)  
WHERE year = 2010   
GROUP BY region  
ORDER by avg_gdp DESC  
LIMIT 10 ;  

<br>

#**NOTE**
##**Alter Column Data Type**
ALTER TABLE books   
ALTER COLUMN date_text SET DATA TYPE date   
USING to_date(date_text, 'mm-dd-yyyy');

<br>

##**Alter Column Name**
Alter table existing_table_name  
RENAME COLUMN old_column_name TO new_column_name;

#**Note BIT.IO**
  
-- (*) Create additional schemas for namespacing your tables, e.g. "CREATE SCHEMA my_schema;".  

-- (*) When querying tables created outside of the public (default) schema, be sure to specify the desired schema, e.g. "SELECT * FROM my_schema."my data.csv";".

#**SQL DATABASES**
### - Must have Schema
### - Tables must have Unique Identifier
### - Gives Result Set
### - Underscore field names
### - Field names containing punctuation, capitalization or spaces should be quoted if no underscore, e.g. "Test Data.csv"
### - New lines, Capitalisation and Indentation not required
### - Capitalise Keywords
### - **Use Holywell's guide**

#**Debugging SQL**
### - Code not pocessed in written order
### - Misspelling
### - Incorrect capitalisation
### - Incorrect or missing punctuation, comma errors

#**SQL Execution Order**

### - **Written Code**
SELECT

FROM 

WHERE

GROUP BY

HAVING 

ORDER BY

LIMIT

### - **Execution Order**
FROM

WHERE

GROUP BY

HAVING 

SELECT (alias defined here)

ORDER BY

LIMIT

#**SQL DATA TYPES**
### - VARCHAR
### - INT
### - FLOAT
### - NUMERIC
### - BINARY (images and fingerprints etc.)

#**PostgreSQL vs SQL Server**
### - PostgreSQL  - Free, refers to database system and and associated SQL flavour

### - SQL Server - Paid and free, Microsoft T-SQL flavour

### - E.g. PostgreSQL **LIMIT** = SQL Server **TOP**

#**SQL QUERY KEYWORDS**

##**SELECT**
##**SELECT * (SELECT ALL)**
##**SELECT AS (aliasing) E.g. SELECT author AS unique_author**
##**FROM**
##**LIMIT**

#**DISTINCT (combines data into unique values in a field)**
### - Use DISTINCT on multiple fields by writing DISTINCT once - then list the fields afterward

### - E.g. 
SELECT DISTINCT author  
FROM books;

### - E.g. 
SELECT DISTINCT author, genre  
FROM books;

#**VIEW**
### - CREATE VIEW AS (virtual table - stores query code)
### - View is a virual table that is the result of a saved SQL SELECT statement
### - Views update sutomatically
### - No result set when creating a view
### - Query view (same as table) by selecting FROM the view

### - E.g. Create View
CREATE VIEW employee_hire_years AS  
SELECT id, name, year_hired  
FROM employees; 


### - E.g. Query View
SELECT id, name  
FROM employee_hire_years;

#**COUNT( )**
### - Returns the no. of records with a value in a field
### - Can use ALIAS to make result more readable
### - Can use with multiple fields
### - Count (*) counts records in a table

### - E.g. 
SELECT COUNT (birthdate) AS count_birthdates

FROM people;

### - E.g. 
SELECT COUNT (name) AS count_names, COUNT (birthdate) AS count_birthdates  
FROM people;

### - E.g. 
SELECT COUNT (*) AS total_records  
FROM people;

#**Combine COUNT, DISTINCT to count unique values**

### - E.g. 

SELECT COUNT (DISTINCT bithdate) AS count_disctinct_birthdates  
FROM people;

#**WHERE**
### - Filter SQL Query
### - Use Comparision operators >, >=, <, <=, =, <>

### - E.g. 
SELECT title  
FROM films  
WHERE release_year > 1960;


### - Use = for specific (equal to)

### - E.g. 
SELECT title  
FROM films  
WHERE release_year = 1960;


### - Use <> for except specific (not equal to)

### - E.g. 
SELECT title  
FROM films  
WHERE release_year <> 1960;


### - Use '  ' for Strings 

### - E.g. 

SELECT title, country  
FROM films  
WHERE country = 'Japan';

#**Combine COUNT, WHERE to count unique values**
### - E.g. 

SELECT COUNT (num_votes) AS films_over_1000K_votes  
FROM reviews  
WHERE num_votes > 100000;


### - E.g. 
SELECT COUNT (language) AS count_spanish  
FROM films  
WHERE language = 'Spanish'

#**MULTIPLE CRITERA KEYWORDS**
##**OR**
### - E.g.
SELECT *

FROM coats

WHERE color = 'yellow' OR colour = 'red';
##**AND**
### - E.g. 
SELECT *  
FROM coats  
WHERE color = 'yellow' AND colour = 'red';

### - E.g. 
SELECT *  
FROM films  
WHERE (language = 'German') AND (release_year > 2000 AND release_year < 2010);



##**Combine AND, OR**
SELECT title  
FROM films  
WHERE (release_year = 1994 OR release_year = 1995) AND (certification = 'PG' OR certification = 'R') ;

##**Combine BETWEEN, AND**
### - Between is inclusive
SELECT title  
FROM films  
WHERE release_year BETWEEN 1994 AND 2000 ;


##**Combine BETWEEN, AND, OR**
### - Between is inclusive
SELECT title  
FROM films  
WHERE release_year  
BETWEEN 1994 AND 2000 AND country ='UK' ;

##**Combine WHERE, AND, OR, BETWEEN**
### - E.g.
SELECT title, release_year  
FROM films  
WHERE (release_year = 1990 OR release_year = 1999)  
AND (language = 'English' OR language = 'Spanish')  
AND gross > 2000000; 


### - E.g.
SELECT title, release_year  
FROM films  
WHERE (release_year BETWEEN 1990 AND 2000)
AND budget > 100000000  
AND (language = 'Spanish' OR language = 'French');

##**IN**
### - Combine WHERE,OR

### - E.g. (with many OR keywords)
SELECT title  
FROM films  
WHERE release_year = 1920
OR release_year = 1930
OR release_year = 1940 ;


### - E.g. (combine many OR keywords using IN)
SELECT title  
FROM films  
WHERE release_year IN (1920, 1930, 1940)

#**FILTERING TEXT KEYWORDS**
### - Filter pattern rather than specific text string
### - Use wildcard as a placeholder
### - Case 
### - Can position wildcard anywhere
### - Can use combined


##**LIKE**

###**% match 0, 1 or many characters**

### - E.g. 
SELECT name  
FROM people  
WHERE name LIKE 'Ade%';  


###**_ match single characters** 

### - E.g. 
SELECT name  
FROM people  
WHERE name LIKE 'Ev_';

### - E.g. (find names with third character 't')
SELECT name  
FROM people  
WHERE name LIKE '__t%'


##**NOT LIKE**
### - E.g. (find names with third character not 't')
SELECT name  
FROM people  
WHERE name NOT LIKE '__t%'
 

### - E.g. 
SELECT name  
FROM people  
WHERE name NOT LIKE 'A.%' ;

#**NULL VALUES**
##**null represents a missing or unknown value**

##COUNT (field_name) - includes only non-missing values
##COUNT (*) - includes missing values

##**IS NULL**
### - E.g. 
SELECT name  
FROM people  
WHERE birthdate IS NULL ;  

### - E.g. 
SELECT COUNT (*) AS no_birthdates    
FROM people  
WHERE birthdate IS NULL ;  

##**IS NOT NULL**
### - E.g. 
SELECT COUNT (*) AS count_bithdates   
FROM people  
WHERE birthdate IS NOT NULL ;  

##**COUNT () vs IS NOT NULL gives same results as both count non-missing values**

### - E.g. (COUNT)
SELECT COUNT (certification)  
AS count_certification    
FROM films :

### - E.g. (using IS NOT NULL with WHERE clause)
SELECT COUNT (certification)  
AS count_certification  
FROM films  
WHERE certification IS NOT NULL ;

#**AGGREGATE FUNCTIONS**
### - Data summarised with function name ON COLUMNS
### - Use Aliasing

##**AVG ( )**

##**SUM ( )**

##**MIN ( )**

##**MAX ( )**

##**COUNT ( )**

### - E.g. (Mathematical)
SELECT SUM (budget)  
FROM films ;

### - E.g. (non-Mathematical)
SELECT MIN (country)  
FROM films ;

#**USE WHERE WITH AGGREGATE FUNCTIONS**

### - E.g. 
SELECT AVG (budget) AS avg_budget  
FROM films  
WHERE release_year >= 2000 ;

#**ROUND ( )**
### - Round has 2 parameters, number_to_round and decimal_places (optional - default 0)
### - Can use negative to round before decimal point

### - E.g.
SELECT ROUND (AVG (budget), 2) AS avg_budget  
FROM films  
WHERE release_year >= 2010;

#**ARITHMETIC and ALIASING**
### - Data calculated on Fields
### - Can Use Arithmetic Operators
### - Always use alias

### - E.g.
SELECT (1 + 1)  
SELECT (3 - 1)  
SELECT (3 * 4)  
SELECT (4 / 3 ) *answer is 1 (int)*  
SELECT (4.0 / 3.0) *use floats for precise answers*

#**SORTING RESULTS**
##**ORDER BY ASC**
##**ORDER BY DESC**

### - Can use Alias

### - E.g.
SELECT title, release_year, budget, gross  
FROM films
WHERE budget IS NOT NULL  
ORDER BY budget ASC, gross DESC ;

#**GROUPING RESULTS**
##**GROUP BY**

### - Used with Aggregate Functions
### - Aggregate function reduces non-grouped field to 1 record - must correspond to 1 group
### - **All SELECT columns must appear in the GROUP BY clause or be used in an Aggregate Function**
### - Error if SELECT a field not in the GROUP BY clause or Aggregate Function
### - Order affects how data is grouped



### - E.g. (GROUP BY single field)
SELECT certification, COUNT (title) AS title_count  
FROM films
GROUP BY certification ;

### - E.g. (GROUP BY multiple fields)
SELECT certification, language, COUNT (title) AS title_count  
FROM films
GROUP BY certification, language ;

#**COMBINE GROUP BY, ORDER BY**

### - Group results, Make calculations and Order results
### - Use after FROM and before any other Keyword 
### - Can refer to alias 

### - E.g. 
SELECT certification, COUNT (title) AS title-count  
FROM films  
GROUP BY certification  
ORDER BY title_count DESC ;

### - E.g. 
SELECT release_year, AVG(duration) AS avg_duration  
FROM films  
GROUP BY release_year;  

### - E.g. 
SELECT release_year, country, MAX(budget) AS max_budget  
FROM films  
GROUP BY release_year, country  
ORDER BY release_year, country ;

#**FILTERING GROUPED RESULTS**

##**HAVING**

### - Cannot filter Aggregate Functions with WHERE clauses
### - Cannot use Alias
### - **WHERE filters individual records vs HAVING filters group records**


### - E.g. 
SELECT release_year, COUNT (title) AS title_count  
FROM films  
GROUP BY release_year  
HAVING COUNT(title) > 10 ;

### - E.g. 
SELECT certification, COUNT (title) AS title_count  
FROM films  
WHERE certification IN ('G', 'PG', 'PG-13')  
GROUP BY certification  
HAVING COUNT (title) > 100  
ORDER BY title_count DESC  
LIMIT 10;

### - E.g. What Films were released in 2000?
SELECT title  
FROM films  
WHERE release_year = 2000 ;


### - E.g. In what years average film duration over 2 hours?
SELECT release_year  
FROM films 
GROUP BY release_year
HAVING AVG(duration) > 120 ;

### - E.g. Which countries have the most varied film certifications?
SELECT country, COUNT (DISTINCT certification) AS certification_count  
FROM films  
GROUP BY country  
HAVING COUNT (DISTINCT certification) > 10 ;  

### - E.g. What countries have the highest average film budgets?
SELECT country, ROUND(AVG(budget), 2) AS average_budget  
FROM films  
GROUP BY country  
HAVING AVG(budget) > 1000000000  
ORDER BY average_budget DESC ;

#**JOINING DATA IN SQL**

##**JOIN (INNER JOIN)**
### - Tables must have uniqe identifier key field(s)
### - Can join with unique key or any other field 
### - INNER JOIN looks for records in both tables matching on given field
### - Fades out fields that do not match
### - Create query with join first and select fields later
### - Use **ON** Keyword and **=** to match unique fields (with different names)
### - Can Alias table names with AS and use on SELECT and ON clauses
### - Use **USING ( )** Keyword to join shared field names instead of ON and = 
### - **Must use table.column_name to select columns exinsting in bioth tables to prevent SQL ambiguity error**

<br>

### - E.g. Countries with both presidents and prime-ministers  

---Inner join of presidents and prime ministers, joining on country  

SELECT prime_ministers.country, prime_ministers.continent, prime_minister, 
president

---Select is written last    

FROM prime_ministers  

INNER JOIN presidents

ON prime_ministers.country = presidents.country ;

<br>

### - E.g. Countries with both presidents and prime-ministers (tables aliased)

---Inner join of presidents and prime ministers, joining on country

SELECT p1.country, p1.continent, prime_minister, president  

---Select is written last with the table name aliases  

FROM prime_ministers AS p1 

INNER JOIN presidents AS p2

ON p1.country = p2.country ;

<br>

### - E.g. Countries with both presidents and prime-ministers (USING keyword)

---Inner join of presidents and prime ministers, joining on country

SELECT p1.country, p1.continent, prime_minister, president  

---Select is written last with the table name aliases  

FROM prime_ministers AS p1 

INNER JOIN presidents AS p2

---USING ( ) keyword is used to join on country instead of ON and = 

USING (country) ;

#**DEFINING RELATIONSHIPS**
##**One-to-many** - Single entity associalted with several entities (artists, authors)
##**One-to-one** - Unique pairings between entities (fingerprints)
##**Many-to-many** - Several entities associated with several entities (languages and countries)

<br>

### - Put most relevant result on far left
### - Results are ordered by left table column by default
### - Change by using **ORDER BY** 

<br>

### - E.g. what is the best way to query all the different languages spoken in a country?

-- Select country and language names, aliased

SELECT c.name AS country, l.name AS language

-- From countries (aliased)

FROM countries AS c

-- Join to languages (aliased)

INNER JOIN languages AS l

-- Use code as the joining field with the USING keyword

USING (code);


<br>

### - E.g. How is this different from the best way to query all the countries that speak each language?

-- Rearrange SELECT statement, keeping aliases

SELECT l.name AS language, c.name AS country

FROM countries AS c

INNER JOIN languages AS l

USING(code)

-- Order the results by language

ORDER BY language ASC;

#**MULTIPLE JOINS**
### - **Join on joins - Chain other inner joins to result of previous inner joins**

### - **Additional joins link to left_table**

### - **Note.** Depending on use case, left_table or right_table can be used in the ON clause

### - **Syntax**
SELECT *  
FROM left_table  
INNER JOIN right_table  
ON left_table.id = right_table.id  
INNER Join another_table  
ON left_table.id = another_table.id ;

<br>

### - E.g. Countries with both presidents and prime-ministers and when prime ministers came into office

SELECT p1.country, p1.continent, p2.president, p1.prime_minister, p3.pm_start  
FROM prime_ministers AS p1  
INNER JOIN presidents AS p2  
USING (country)  
INNER JOIN prime_minister_terms AS p3  
USING (prime_minister);

#**JOINING ON MULTIPLE KEYS**

### - **What to Join ON?** - Each value in field being joined on left_table does not always correspond to exactly one record in the joining field on right_table

### - Add **AND** Keyword to **ON** clause to limit the records returned

### - **Syntax**
SELECT *  
FROM left_table  
INNER JOIN right_table  
ON left_table.id1 = right_table.id1   
AND left_table.id2 = right_table.id2 ; 

<br>

### - E.g. Relationship between fertility and unemployment rates. Join tables to return country name, year, fertility rate and unemployment rate from the countries, populations and economies tables.

-- Select fields

SELECT name, e.year, p.fertility_rate, e.unemployment_rate

FROM countries AS c

INNER JOIN populations AS p

ON c.code = p.country_code

-- Join to economies (as e)

INNER JOIN economies AS e

-- Match on country code

ON c.code = e.code ;

-- Add additional joining condition also joining on year

AND p.year = e.year;

#**OUTER JOINS**

##**LEFT JOIN (LEFT OUTER JOIN)**

### - Join all records on left_table and matching records on right_table

### - E.g. All countries with prime ministers and presidents if any

SELECT p1.country, president, prime_minister

FROM prime_ministers AS p1

LEFT JOIN presidents AS p2

USING (country) ;

<br>

##**RIGHT JOIN (RIGHT OUTER JOIN)**

### - Is not common

### - RIGHT JOIN can be recoded as LEFT JOIN

### -  All records retained from right_table, only matching records shown from left_table

### - Syntax

SELECT *

FROM left_table

RIGHT JOIN right_table

ON left_table.id = right_table.id ;

<br>

##**FULL JOIN (FULL OUTER JOIN)**

### - Join all records on left_table and right_table 

### - Does not fade out null values

### - Order of table matters

### - **OR - Note. Do not specify common field from particular table in order to populate result w/o nulls**

### - E.g. All countries with presidents and / or prime ministers

SELECT country, president, prime_minister

FROM prime_ministers AS p1

FULL JOIN presidents AS p2

USING (country) ;

#**CROSS JOIN**

### - Creates all possible combinations of two tables

### - E.g. Meetings of prime ministersin Asia with presidents in South America
SELECT prime_minister, president  
FROM prime_ministers AS p1  
CROSS JOIN presidents AS p2
WHERE p1.continent = 'Asia'  
AND p2.continent = South America ;

#**SELF JOIN**

### - Joins table with itself (used to compare parts of same table)

### - Must use Aliasing

### - **MUST choose joining field carefully**

### - No dedicated syntax, use other joins

### - Use AND, OR clauses and calculations / exclusions to eliminate unwanted / duplicate results

<br>

### - E.g, Prime minsters meeti with other primi ministers on same continents
SELECT p1.country AS country1,   
p2.country AS country2,   
p1.continent     
FROM prime_ministers AS p1  
INNER JOIN prime_ministers as p2  
ON p1.continent = p2.continent 
AND p1.country <> p2.country ;

<br>

### - E.g. Compare population growth
SELECT  
p1.country_code,   
p1.size AS size2010,   
p2.size AS size2015  
FROM populations AS p1  
INNER JOIN populations AS p2
ON p1.country_code = p2.country_code
WHERE p1.year = 2010  
AND p1.year =  p2.year - 5;

#**SET OPERATIONS THEORY FOR SQL JOINS**

##**UNION**
### - Taks 2 tables and returns all records
### - Must have same number of columns
### - Only returns single record if 2 records are identical
### - Do not require a field to join - does not select and coampare but stacks 
### - Syntax
SELECT *   
FROM left_table
UNION
SELECT *
FROM right_table ;

<br>

##**UNION ALL**
### - Takes 2 tables and returns all records including duplicates
### - Must have same number of columns
### - Do not require a field to join - does not select and coampare but stacks 
### - Syntax
SELECT *   
FROM left_table
UNION ALL
SELECT *
FROM right_table ;

##**INTERSECT**

##**EXCEPT**