<a href="https://colab.research.google.com/github/nirmalaraj77/SQL/blob/main/SQL_Notes_DataCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SQL DATABASES**
### - Must have Schema
### - Gives Result Set
### - SQL Tables must have a Unique Identifier

#**SQL Style Guide**
### - New lines, Capitalisation and Indentation not required
### - Use Holywell's guide
### - Capitalise Keywords
### - Underscore filed names
### - if no underscore, use inverted commas

#**Debugging SQL**
### - Code not pocessed in written order
### - Misspelling
### - Incorrect capitalisation
### - Incorrect or missing punctuation, comma errors

#**SQL Execution Order**

### - Written Code
SELECT


FROM 

WHERE

LIMIT

### - Execution Order
FROM

WHERE

SELECT

LIMIT

#**SQL DATA TYPES**
### - VARCHAR
### - INT
### - FLOAT
### - NUMERIC

#**PostgreSQL**
### - Free, refers to database system and and associated SQL flavour

SELECT id, name

FROM employees

**LIMIT** 2;

#**SQL Server**
### - Paid and free, Microsoft T-SQL flavour

SELECT id, name

FROM employees

**TOP** 2;

#**SQL QUERY KEYWORDS**

##**SELECT**
##**SELECT * (SELECT ALL)**
##**SELECT AS (aliasing) E.g. SELECT author AS unique_author**
##**FROM**
##**LIMIT**

### - E.g. 
SELECT author AS uniquue_author

FROM books

LIMIT 20;

#**DISTINCT (combines data into unique values in a field)**
### - Use DISTINCT on multiple fields by writing DISTINCT once â€”then list the fields afterward

#**VIEW**
### - CREATE VIEW AS (virtual table - stores query code)
### - View is a virual table that is the result of a saved SQL SELECT statement
### - Views update sutomatically
 
CREATE VIEW employee_hire_years AS

SELECT id, name, year_hired

FROM employees; 

### - No result set when creating a view
### - Once view is created, query view (same as table) by selecting FROM the view
### - E.g.

SELECT id, name

FROM employee_hire_years;

#**COUNT( )**
### - Returns the no. of records with a value in a field
### - Can use ALIAS to make result more readable
SELECT COUNT (birthdate) AS count_birthdates

FROM people;

### - Can use with multiple fields
SELECT COUNT (name) AS count_names, COUNT (birthdate) AS count_birthdates

FROM people;

### - Count (*) counts records in a table
SELECT COUNT (*) AS total_records

FROM people;

#**Combine COUNT with DISTINCT to count unique values**

SELECT COUNT (DISTINCT bithdate) AS count_disctinct_birthdates

FROM people;

#**WHERE**
### - Filter SQL Query
### - Use Comparision operators >, >=, <, <=, =, <>

SELECT title

FROM films

WHERE release_year > 1960;


### - Use = for specific (equal to)

SELECT title

FROM films

WHERE release_year = 1960;


### - Use <> for except specific (not equal to)

SELECT title

FROM films

WHERE release_year <> 1960;

### - Use '  ' for Strings 

SELECT title, country

FROM films

WHERE country = 'Japan';

#**Combine COUNT with WHERE to count unique values**
### - E.g. 

SELECT COUNT (num_votes) AS films_over_1000K_votes

FROM reviews

WHERE num_votes > 100000;


### - E.g. 
SELECT COUNT (language) AS count_spanish

FROM films

WHERE language = 'Spanish'

#**MULTIPLE CRITERA KEYWORDS**
##**OR**
##**AND**
##**BETWEEN**