<a href="https://colab.research.google.com/github/nirmalaraj77/SQL/blob/main/SQL_Notes_DataCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SQL DATABASES**
### - Schema
### - Result Set
### - SQL Tables must have a Unique Identifier

#**SQL DATA TYPES**
### - VARCHAR
### - INT
### - FLOAT
### - NUMERIC

#**SQL FLAVOURS**
##PostgreSQL - Free, refers to database system and and associated SQL flavour
SELECT id, name
FROM employees
**LIMIT** 2;

##SQL Server - Paid and free, Microsoft T-SQL flavour
SELECT id, name
FROM employees
**TOP** 2;

#**SQL QUERY KEYWORDS**

### - SELECT
### - SELECT *
### - SELECT AS (aliasing) E.g. SELECT author AS unique_author...
### - FROM
### - LIMIT

#**DISTINCT (combines data into unique values in a field)**
### - Use DISTINCT on multiple fields by writing DISTINCT once â€”then list the fields afterward

#**VIEW**
### - CREATE VIEW AS (virtual table - stores query code)
### - View is a virual table that is the result of a saved SQL SELECT statement
### - Views update sutomatically
 
CREATE VIEW employee_hire_years AS

SELECT id, name, year_hired

FROM employees; 

### - No result set when creating a view
### - Once view is created, query view (same as table) by selecting FROM the view
### - E.g.

SELECT id, name

FROM employee_hire_years;

#**COUNT( )**
### - Returns the no. of records with a value in a field
### - Can use ALIAS to make result more readable
SELECT COUNT (birthdate) AS count_birthdates

FROM people;

### - Can use with multiple fields
SELECT COUNT (name) AS count_names, COUNT (birthdate) AS count_birthdates

FROM people;

### - Count (*) counts records in a table
SELECT COUNT (*) AS total_records

FROM people;

### - Combine COUNT with DISTINCT to count unique values
SELECT COUNT (DISTINCT bithdate) AS count_disctinct_birthdates

FROM people;